@media(max-width:576px){
    h1{
        font-size: 50px;
    }
}

@media(max-width:1400px){
    .swiper-button-prev{
        left: 320px;
    }
    .swiper-button-prev, .swiper-button-next{
        top: 300px;
    }
}

@media(max-width:1200px){
    .swiper-button-prev{
        left: 220px;
    }
    .swiper-button-prev, .swiper-button-next{
        top: 300px;
    }
}

@media(max-width:992px){
    .swiper-button-prev{
        left: 460px;
    }
    .swiper-button-prev, .swiper-button-next{
        top: 270px;
    }
}

@media(max-width:768px){
    /* .swiper-button-prev{
        left: 280px;
    } */
    .swiper-button-prev, .swiper-button-next{
        /* top: 250px; */
        display: none !important;
    }
    .dot{
        display: none;
    }
    .hero-section{
        padding: 120px 0 0 0;
    }
    nav{
        padding: 20px 0px;
    }
}

@media (max-width: 600px) {
    .swiper-button-prev{
        left: 0;
        top: 160px;
        display: none;
    }
    .swiper-button-next{
        right: 0;
        top: 160px;
    }
}
@media (max-width: 400px) {
    /* .swiper-button-prev{
        left: 0;
        top: 200px;
    }
    .swiper-button-next{
        right: 0;
        top: 200px;
    } */
    .cd-headline b{
        text-wrap: wrap !important;
        font-size: 50px;
    }
    .bg-img h2{
        font-size: 30px;
    }
    .view-resume-circle{
        margin-right: auto;
        margin-top: 20px;
    }
}
/* @media (max-width: 340px) {
    .swiper-button-prev{
        left: 0;
        top: 235px;
    }
    .swiper-button-next{
        right: 0;
        top: 235px;
    }
} */