/* hero section start */

.hero-section{
    padding: 220px 0 0 0;
}

h1{
    font-size: 62px;
    line-height: 86px-;
}

.bg-img{
    background: url(../images/hero-section/hero-img-bg-shape.png) no-repeat;
    background-position: bottom center;
    background-size: contain;
}

/* hero section end */

/* scrolling ticker start */
.our-scrolling-ticker{
    position: relative;
    background: linear-gradient(254.54deg, var(--accent-color) 0.03%, var(--accent-secondary-color) 100%);
    padding: 20px 0;
    z-index: 1;
}

.scrolling-ticker-box{
    --gap: 20px;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    align-items: center;
}
.scrolling-content{
    flex-shrink: 0;
    display: flex;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll 40s linear infinite;
}

@keyframes scroll{
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

.scrolling-content span{
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
    color: var(--black-color);
    vertical-align: middle;
}

.scrolling-content span img{
    width: 100%;
    max-width: 30px;
    margin-right: 20px;
}
/* scrolling ticker end */

/* our specialization start */

.swiper{
    margin-top: 60px;
}

.slider-card-top{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 90px;
}

.service-item-btn{
    border-radius: 50%;
    padding: 12px;
}

.service-item-btn img{
    transition: all 0.2s linear;
}

.service-item-btn:hover img{
    rotate: 45deg;
}

.swiper-slide{
    overflow: hidden;
}

.slider-card{
    position: relative;
    background: url(../images/our-specialization/service-item-bg-shape.svg) var(--secondary-color);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: auto;
    backdrop-filter: blur(200px);
    -webkit-backdrop-filter: blur(200px);
    border: 1px solid var(--divider-color);
    border-radius: 20px;
    padding: 40px 30px;
    overflow: hidden;
}

.swiper-pagination-bullet{
    height: 10px;
    width: 10px;
    background: var(--divider-color);
    opacity: 1;
    margin: 0 3px;
    transition: all 0.4s ease-in-out;
}

.swiper-pagination-bullet-active{
    position: relative;
    width: 30px;
    border-radius: 100px;
    background: linear-gradient(254.54deg, var(--accent-color) 0.03%, var(--accent-secondary-color) 100%);
}

/* our specialization end */

/* about-us section start */

.about-us-img figure::before{
    content: '';
    position: absolute;
    display: block;
    top: 10px;
    bottom: 0;
    left: -8px;
    right: 0;
    background: url(../images/about-us/about-img-bg-ring.png) no-repeat;
    background-position: center center;
    background-size: contain;
    width: 100%;
    height: 100%;
    z-index: 0;
    animation: infiniterotate 25s infinite linear;
}

@keyframes infiniterotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.xp-counter{
    background: var(--secondary-color);
    border-radius: 20px;
    padding: 30px 20px;
}

.xp-counter .styled-text{
    font-size: 50px;
    padding: 20px 0;
}

.xp-container-wrapper{
    width: 100% !important;
}

.about-us{
    overflow: hidden;
}

/* about-us section end */

/* our-facts section start */

.our-facts-percent{
    margin-top: 100px;
}
.our-facts-spacing{
    margin-top: 60px;
}

.our-facts-box{
    position: relative;
    display: flex;
    align-items: center;
    gap: 40px;
    background: linear-gradient(180deg, var(--accent-secondary-color) 0%, rgba(0, 0, 0, 0) 90.04%);
    border-radius: 30px;
    padding: 30px;
}
.our-facts-box::before{
    content: "";
    position: absolute;
    left: 20px;
    top: 20px;
    border-radius: 16px;
    background: linear-gradient(180deg, var(--black-color) 90%, rgba(0, 0, 0, 0) 99.04%);
    width: calc(100% - 40px);
    height: calc(100% - 20px);
    z-index: -1;
}

.our-facts-box div{
    background-color: var(--black-color);
    padding: 10px;
    border-radius: 20px;
}

/* our facts section end */

/* my tools section start */

.gears{
    background: url(../images/tool-item-bg-shape.svg) var(--secondary-color);
    background-repeat: no-repeat;
    background-position: top left;
    border: 1px solid var(--divider-color);
    backdrop-filter: blur(200px);
    -webkit-backdrop-filter: blur(200px);
    border-radius: 20px;
    gap: 15px;
    height: calc(100% - 30px);
    margin-bottom: 30px;
    padding: 30px 25px;
    transition: all 0.2s linear;
}

.gears:hover{
    scale: 1.02;
    box-shadow: 2px 2px 10px 0px rgba(39, 39, 39, 0.671);
}

.icon-box{
    width: 60px;
    height: 60px;
    background: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-box img{
    max-width: 30px;
}

.my-tools-heading{
    margin-bottom: 70px;
}


/* my tools section end */

/* portfolio section start */

.portfolio-img-container{
    overflow: hidden !important;
    height: 400px;
    width: 100%;
    border-radius: 30px;
}

.portfolio-img{
    height: 100%;
    width: 100%;
    background-image: url(../images/portfolio/portfolio-1.jpg);
    background-size: cover;
    background-position: center center;
    transition: all 0.2s linear;
}
.portfolio-img-2{
    background-image: url(../images/portfolio/portfolio-2.jpg);
}
.portfolio-img-3{
    background-image: url(../images/portfolio/portfolio-3.jpg);
}
.portfolio-img:hover{
    scale: 1.1;
}

.portfolio-btn{
    /* top: 40%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, var(--accent-secondary-color) 0%, var(--accent-color) 50%, var(--accent-secondary-color) 100%);
    /* left: 42%; */
    padding:20px;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s linear;
    scale: 0.2;
}

.portfolio-img:hover .portfolio-btn{
    opacity: 1;
    scale: 1;
}

.portfolio-btn:hover{
    /* rotate: 45deg; */
    transform: translate(-50%, -50%) rotate(45deg);
}

.portfolio-header{
    margin-bottom: 80px;
}

/* portfolio section end */

/* foundation start */

.foundation-btn{
    padding: 10px 40px;
    font-size: 16px;
    cursor: auto !important;
}

.foundation .icon-box{
        /* display: block; */
        background: linear-gradient(to right, var(--accent-secondary-color) 0%, var(--accent-color) 50%, var(--accent-secondary-color) 100%);
        background-size: 200% auto;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        transition: all 0.5s ease-in-out;
}
.foundation .icon-box img{
    position: relative;
    width: 100%;
    max-width: 30px;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.foundation-box{
    position: relative;
    height: calc(100% - 30px);
    background: url(../images/foundation-box-bg-shape.svg) var(--secondary-color);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: auto;
    border: 1px solid var(--divider-color);
    backdrop-filter: blur(200px);
    -webkit-backdrop-filter: blur(200px);
    padding: 40px;
    margin-bottom: 30px;
    border-radius: 30px;
}

.foundation-box:hover .icon-box img{
    transform: rotateY(180deg);
}

.foundation .container .row:first-child{
    margin-bottom: 100px ;
}

/* foundation end */

/* workflwo start */


:root {
    --bg: #163031;
    --bg-shade-200: #163031;
    --bg-shade-outline: #E0DDCF;

    --font-color: #212121;

    --spacing-32: 2rem;
    --sapcing-24: 1.5rem;
    --spacing-16: 1rem;
    --spacing-1: 0.063rem;

    --universal-transition: all 0.5s ease-in-out;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    list-style: none;
  }

  /* svg */
  circle-expand {
    --svg-length: 1.5rem;

    display: flex;

    svg {
        width: var(--svg-length);
        height: var(--svg-length);
      }
      
      svg circle {
        stroke-dasharray: var(--circle-length);
        stroke-dashoffset: 0;
        transition: var(--universal-transition);
      }
      
      svg path:nth-of-type(2) {
        stroke-dasharray: var(--top-length);
        stroke-dashoffset: 0;
        transition: var(--universal-transition);
      }
      
      svg path:nth-of-type(3) {
        stroke-dasharray: var(--bottom-length);
        stroke-dashoffset: 0;
        transition: var(--universal-transition);
      }      
  }
  

  summary[expanded] {
    circle-expand {
      svg {
        circle {
          stroke-dashoffset: var(--circle-length);
        }

        path:nth-of-type(2) {
          stroke-dashoffset: var(--top-length);
        }

        path:nth-of-type(3) {
          stroke-dashoffset: var(--bottom-length);
        }
      }
    }
  }

  details {
    background: linear-gradient(254.54deg, var(--accent-color) 0.03%, var(--accent-secondary-color) 100%);
    position: relative;
    border: var(--spacing-1) solid var(--bg-shade-outline);
    padding: clamp(1.5rem, calc(1.5rem + ((1vw - 0.28125rem) * 0.8081)), 2rem);
    border-radius: var(--sapcing-24);
    transition: var(--universal-transition);

    details-content {
      display: block;
      overflow: hidden;
      height: 0;
      transition: var(--universal-transition);
    }

    &:has(summary[expanded]) {
      background-color: var(--bg-shade-200);
      border-color: var(--bg-shade-200);

      p {
        opacity: 1;
      }
    }

    p {
      opacity: 0;
      line-height: 1.5;
      margin-block: var(--sapcing-24);
      transition: var(--universal-transition);
    }
  }

  summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-32);
    list-style: none;
    cursor: pointer;
    transition: var(--universal-transition);

    /* avoid Windows insertion caret */
    caret-color: transparent;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  summary::marker {
    content: '';
  }

  summary h3{
    font-size: 20px;
  }





.img-glass-effect::after{
    content: "";
    position: absolute;
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, .3);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
}

.img-glass-effect:hover:after{
    height: 250%;
    transition: all 600ms linear;
    background-color: transparent;
}


/* workflow end */

/* reviews section start */

.user-image .img-2{
    transform: translateX(-16px);
}
.user-image .img-3{
    transform: translateX(-32px);
}


.reviews-card{
    background: url(../images/testimonial-slider-bg-shape.svg) var(--secondary-color);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: auto;
    border: 1px solid var(--divider-color);
    backdrop-filter: blur(200px);
    -webkit-backdrop-filter: blur(200px);
    border-radius: 30px;
    padding: 50px;
    margin-left: 20px;
    overflow: hidden;
}

.swiper-button-next, .swiper-button-prev{
    background: linear-gradient(to right, var(--accent-secondary-color) 0%, var(--accent-color) 50%, var(--accent-secondary-color) 100%);
    padding: 20px;
    border-radius: 50%;
    display: flex;
    width: 10px;
    position: absolute;
}
.swiper-button-next{
    top: 180px;
}
.swiper-button-prev{
    left: 416px;
    top: 180px;
}

.swiper-button-next img{
    padding-left: 16px;
    padding-bottom: 16px;
    rotate: 45deg;
}
.swiper-button-prev img{
    rotate: -135deg;
    margin-left: 24px;
}

.stars{
    height: 30px;
}

.reviews-dp{
    margin-top: 60px;
    padding-top: 60px;
}

/* reviews section end */

/* faq section start */

.contact-us-card{
    background: url(../images/faq-cta-bg-shape.svg) var(--secondary-color);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: auto;
    border: 1px solid var(--divider-color);
    backdrop-filter: blur(200px);
    -webkit-backdrop-filter: blur(200px);
    border-radius: 30px;
    text-align: center;
    padding: 40px 50px;
    overflow: hidden;
}

.faqs{
    margin-top: 100px;
}

/* faq section end */

/* blog section start */

.blog-img{
    display: block;
}

.blog-container:hover .blog-img img{
    transform: scale(1.1);
}

.blog-img img{
    aspect-ratio: 1 / 0.67;
    object-fit: cover;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

.blog-img img::after{
    content: "";
    position: absolute;
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, .3);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
}

/* blog section end */

/* form section start */

.form-section .icon-box{
    background: linear-gradient(to right, var(--accent-secondary-color) 0%, var(--accent-color) 50%, var(--accent-secondary-color) 100%);
    background-size: 200% auto;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    transition: all 0.5s ease-in-out;
}

.view-resume-circle a img {
    max-width: 120px;
    animation: infiniterotate 20s infinite linear;
}

.view-resume-circle {
    /* width: calc(35% - 15px); */
    text-align: end;
    margin-left: auto;
}


.contact-form{
    background: url(../images/contact-form-bg-shape.svg) var(--secondary-color);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: auto;
    border: 1px solid var(--divider-color);
    backdrop-filter: blur(200px);
    -webkit-backdrop-filter: blur(200px);
    border-radius: 30px;
    padding: 40px;
    overflow: hidden;
}


.contact-form form .form-control {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    padding: 17px 20px;
    background-color: var(--secondary-color);
    border: 1px solid var(--divider-color);
    border-radius: 10px;
    outline: none;
    box-shadow: none;
}

.contact-form form .form-control::placeholder{
    color: white;
}

.contactForm{
    visibility: visible;
    animation-delay: 0.2s;
    animation-name: fadeInUp;
}

@keyframes fadeInUp{
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 40px, 0);
        transform: translate3d(0, 40px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* form section end */

/* main end */