.pointer{
    cursor: pointer !important;
}

.common-bg{
    background: linear-gradient(254.54deg, var(--accent-color) 0.03%, var(--accent-secondary-color) 100%);
}
.styled-text {
    background: linear-gradient(254.54deg, var(--accent-color) 0.03%, var(--accent-secondary-color) 100%);
    background: -webkit-linear-gradient(254.54deg, var(--accent-color) 0.03%, var(--accent-secondary-color) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;
}

.invert{
    filter: invert(1);  
}

/* .my-btn {
    padding: 20px 30px;
    background: linear-gradient(254.54deg, var(--accent-color) 0.03%, var(--accent-secondary-color) 100%);
    color: var(--black-color);
    transition: all 0.2s linear !important;
    border-radius: 40px;
    border: none;
}
.my-btn:hover {
    background: linear-gradient(254.54deg, var(--accent-secondary-color) 0.03%, var(--accent-color) 100%) !important;
    scale: 1.02;
} */

.my-btn {
    position: relative;
    padding: 20px 30px;
    background: linear-gradient(254.54deg, var(--accent-color) 0.03%, var(--accent-secondary-color) 100%);
    color: var(--black-color);
    border-radius: 40px;
    border: none;
    overflow: hidden;
    z-index: 1;
    transition: transform 0.2s linear;
}

.my-btn::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(254.54deg, var(--accent-secondary-color) 0.03%, var(--accent-color) 100%);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    border-radius: inherit;
    z-index: -1;
}

.my-btn:hover{
    box-shadow: 0px 0px 20px 0px var(--accent-color);
    animation: shadow-btn 2s linear none infinite;
}

.filter-gallery-btn{
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: var(--accent-secondary-color);
    transition: all 0.2s linear;
}
.filter-gallery-btn.active{
    background-color: var(--accent-color);
}

.filter-gallery-btn:hover{
    background-color: var(--accent-color);
}

@keyframes shadow-btn {
    0%{
      box-shadow: -2px 0px 20px 0px var(--accent-color);
    }
    20%{
      box-shadow: 0px -2px 20px 0px var(--accent-color);
    }
    50%{
      box-shadow: 2px 0px 20px 0px var(--accent-color);
    }
    80%{
      box-shadow: 0px 2px 20px 0px var(--accent-color);
    }
    100%{
      box-shadow: -2px 0px 20px 0px var(--accent-color);
    }
  }

.my-btn:hover::before {
    opacity: 1;
}

.my-btn:hover {
    transform: scale(1.02);
}

/* padding */
.p-180{
    padding: 180px 0 !important;
}
/* margin */
.m-180{
    margin: 180px 0 !important;
}

.is-hidden{
    display: none;
}

.is-visible{
    display: inline-block;
}

.blur-bg {
    /* background-color: rgba(0, 0, 0, 0.5) !important; */
    background-color: #163031b4 !important;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    border-right: 1px solid rgba(255, 255, 255, 0.1) !important;
}