.pointer{
    cursor: pointer !important;
}

.common-bg{
    background: linear-gradient(254.54deg, var(--accent-color) 0.03%, var(--accent-secondary-color) 100%);
}
.styled-text {
    background: linear-gradient(254.54deg, var(--accent-color) 0.03%, var(--accent-secondary-color) 100%);
    background: -webkit-linear-gradient(254.54deg, var(--accent-color) 0.03%, var(--accent-secondary-color) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block; /* Ensures proper gradient application */
}

.invert{
    filter: invert(1);  
}

.my-btn {
    padding: 20px 30px;
    background: linear-gradient(254.54deg, var(--accent-color) 0.03%, var(--accent-secondary-color) 100%);
    color: var(--black-color);
    transition: all 0.2s linear !important;
    border-radius: 40px;
    border: none;
}
.my-btn:hover {
    background: linear-gradient(254.54deg, var(--accent-secondary-color) 0.03%, var(--accent-color) 100%) !important;
    scale: 1.02;
}
/* padding */
.p-180{
    padding: 180px 0 !important;
}
/* margin */
.m-180{
    margin: 180px 0 !important;
}